DATABASE_URL="file:./dev.db"
AUTH_SECRET="troque-por-uma-chave-longa-e-aleatoria"
ADMIN_BOOTSTRAP_EMAIL="admin@attoflow.local"
ADMIN_BOOTSTRAP_PASSWORD="troque-esta-senha"
NEXT_PUBLIC_TIKTOK_PIXEL_ID="DA3FTS3C77UBMOG4PGF0"
